.App{
  height: 100vh;
  padding: 0.5em 0.75em 0.5em 0.75em;
}
.header{
  width: 100%;
  padding: 0.5em 0.75em 0.5em 0.75em;
  align-items: baseline;
  position: sticky;
  top: 0;
  z-index: 10;
}
.header > *:first-child {
  flex: 0.8;  /* Profiles take 75% */
  min-width: 0; /* Prevents overflow */
}
/* .header{
  box-shadow: 0px 0px 20px 25px var(--effectiveui-default-50);
} */
.tab_content{
  display: none;
}

.form-autofill {
  width: 100%;
  padding: 0.5em 0.75em 0.5em 0.75em;
  position: sticky;
  justify-content: center;
}
.data {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 0.75em 0.5em 0.75em;
  /* height: calc(100vh - 200px);  */

}

.data-modifications{
  width: 100%;
  padding: 0.5em 0.75em 0.5em 0.75em;
  justify-content: flex-start;
  gap: 1em;
}
.item {
  width: 100%; 
  padding: 0.5em;
  border-radius: 999px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  gap: 0.5em; 
  flex-wrap: wrap;
}

.item:hover {
  background-color: var(--effectiveui-default-50);
  transition: all 0.2s ease-in-out;
}

.item-type {
  display: flex;
  align-items: center;
  gap: 0.5em; 
  flex-wrap: wrap; 
}

.item span {
  flex: 1; /* Allows text to take up remaining space */
  min-width: 0; /* Helps in text overflow handling */
  white-space: normal; /* Allows wrapping */
  word-break: break-word; /* Ensures long words break */
  overflow-wrap: break-word; /* Additional handling */
}


.data span {
  padding: 0.2em;
}

.item-type{
  gap: 1em;
  min-width: 40%;
  max-width: 50%;
}

.overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 255, 0.5); */
  background-color: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 255, 0.5)), var(--effectiveui-background);
  justify-content: center;
  backdrop-filter: blur(5px);
}

.popup {
  background-color: var(--effectiveui-default-50);
  padding: 0.5em;
  border-radius: 16px;
  width: 50%;
  gap: 1em;
}

.popup {
  box-shadow: 0px 8px 16px var(--effectiveui-background);
}

.popup h2 {
  margin-top: 0;
}

.popup label {
  /* font-weight: bold; */
}

.popup input {
  /* width: 100%;
  padding: 5px; */
}

.item-type-edit{
  width: 100%;
  padding: 0.5em 0.375em;
}

.item-type-option{
  width: 100%;
  padding: 0.5em 0.375em;
  justify-content: space-around;
  
}

.modal_container{
 gap: 1em;
}

.modal_header{

}
.modal_body{
  width: 100%;
  padding: 0.5em 0.375em;
  justify-content: flex-start;
  gap: 2em;
}

.modal_footer{
 justify-content: space-around;
 width: 100%;
}

.file-input{
  width: 100%;
  gap: 1em;
  justify-content: flex-start;
}

.hide{
  display: none;
}

.file-input-choose {
  justify-content: space-around;
  width: 100%;
}
